<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1 style="color: white; border: 2px solid rgb(156, 219, 156); background-color: rgb(43, 175, 43); text-align: center; padding: 10px; border-radius: 10px; width: 350px;">Reset your password</h1>
  <form action="/reset" method="POST">
    <input type="email" name="email" placeholder="Enter your mail">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <br>
    <br>
    <button type="submit" class="btn btn-primary btn-block"> Send
    </button>
  </form>
</body>
</html>